<ion-view view-title="Plantago Hero">
  <ion-content>
    <div class="call-physician">
      <a  class="button button-calm" ng-href="tel: {{country_physician.phone}}">
        <img ng-src="{{country_physician.image}}" class="country-physician-image">
        <span>{{country_physician.name}}</span>
      </a>
    </div>
    <div class="clinics-list">
      <div class="list" ng-if="clinics.lenght > 0">
        <a class="item item-avatar" ng-repeat="clinic in clinics" href="#/app/clinics/{{clinic.id}}">
          <img ng-src="{{clinic.image}}">
          <h2>{{clinic.title}}</h2>
          <p>{{clinic.description}}</p>
        </a>
      </div>
      <div ng-if="clinics.lenght == 0">clinics not found</div>
    </div>
  </ion-content>
</ion-view>