<ion-view view-title="Clinic">
  <ion-nav-title>
    <a ng-click="goBack()" class="btn-back"><i class="icon ion-ios-arrow-back"></i> Back</a>
    Map
  </ion-nav-title>
  <ion-content data-tap-disabled="true" class="clinic-content">
    <div>
      <leaflet center="map.center" markers="map.markers" layers="layers" height="300px" width="100%"></leaflet>
    </div>
    <div class="clinic-content-footer">
      <div class="row" ng-click="details_modal_show()">
        <div class="col col-10 clinic-content-address">
          <i class="icon ion-location"></i>
        </div>
        <div class="col col-80 clinic-content-address">
          <span>{{current_clinic.address}}</span>
        </div>
        <div class="col col-10 reset-p clinic-content-icon">
          <i class="icon ion-ios-arrow-right"></i>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>