<ion-view view-title="Clinic">
  <ion-content data-tap-disabled="true" class="clinic-content">
    <div class="clinic-content-title">
      <a ng-click="go_back()">
        <i class="icon ion-chevron-left"></i>
        Back
      </a>
      <span>Map</span>
    </div>
    <div>
      <leaflet center="map.center" markers="map.markers" layers="layers" height="400px" width="100%"></leaflet>
    </div>
    <div class="clinic-content-footer">
      <div class="row" ng-click="details_modal_show()">
        <div class="col col-80 reset-p clinic-content-address">
          <i class="icon ion-location"></i>
          <span>{{current_clinic.address}}</span>
        </div>
        <div class="col col-20 reset-p clinic-content-icon">
          <i class="icon ion-ios-arrow-right"></i>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>