<ion-view view-title="Clinics" cache-view="false">
  <ion-content class="clinics-content">
    <div class="clinic-content-title clinics-content-title">
      <a ng-click="go_quiz()">
        <i class="icon ion-chevron-left"></i>
        Back
      </a>
      <span>Nearest Clinics</span>
    </div>
    <div class="call-physician">
      <a class="button button-energized" ng-href="tel: {{country_physician.phone}}">
        <div class="row reset-top-bottom-p">
          <div class="col col-33 reset-top-bottom-p">
            <img ng-src="{{baseUrl}}{{country_physician.image}}" class="physician-image">
          </div>
          <div class="col col-66 reset-top-bottom-p physician-info">
            <div class="physician-name">Call to {{country_physician.name}}</div>
            <div class="physician-profesion"><span>teraupist</span></div>
            <div class="physician-phone">{{country_physician.phone}}</div>
          </div>
        </div>
      </a>
    </div>
    <div class="clinics-list">
      <div class="" ng-if="clinics.length > 0">
        <div class="item-clinic" ng-repeat="clinic in clinics">
          <div class="row">
            <div class="col col-25">
              <div class="item-clinic-img">
                <img ng-src="{{baseUrl}}{{clinic.thumb}}">
              </div>
            </div>
            <div class="col col-75">
              <div class="clinic-name">{{clinic.name}}</div>
            </div>
          </div>
          <div class="row">
            <div class="row clinic-address">
              <div class='col col-10'>
                <i class="icon ion-location"></i>
              </div>
              <div class="col col-90">
                <span>{{clinic.address}}</span>
              </div>
            </div>
          </div>
          <div class="row reset-p clinic-actions">
            <div class="col col-50 reset-p">
              <a class="clinic-btn clinic-telephone-btn" ng-href="tel: {{clinic.phone}}">
                <span>Call to Clinic</span>
              </a>
            </div>
            <div class="col col-50 reset-p">
              <a class="clinic-btn" href="#/app/clinics/{{clinic.id}}">
                <span>Show on Map</span>
              </a>
            </div>
          </div>
        </a>
      </div>
      <div class="no-clinics" ng-if="clinics.length == 0">Clinics not found</div>
    </div>
  </ion-content>
</ion-view>