<!-- <ion-nav-view name="menuContent"></ion-nav-view> -->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
  <ion-tab title="Quize" hidden="true">
    <ion-nav-view name="tab_quize"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Clinics" hidden="true">
    <ion-nav-view name="tab_clinics"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Plantago Hero" hidden="true">
    <ion-nav-view name="tab_plantago_hero"></ion-nav-view>
  </ion-tab>

  <div class="emergency-action">
    <a  class="button button-assertive" ng-click="emergency_call_show()">
      <i class="icon ion-ios-telephone"></i>
      <span>Emergency Call</span>
    </a>
  </div>
</ion-tabs>
