<ion-view view-title="Quiz">
  <ion-content class="padding">
    <ion-slide-box on-slide-changed="slideHasChanged($index)" ng-init="disableSwipe()" show-pager="false">
      <ion-slide>
        <div class="box">
          <h2>1. How are you feeling in yourself?</h2>
          <div><a ng-click="slideTo(1)">I've general malaise</a></div>
          <div><a ng-click="slideTo(2)">I've pain in specific body part</a></div>
          <div><a ng-click="go_plantato()">I'm fine :)</a></div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <h2>2. Did you check body temperature?</h2>
          <div><a ng-click="slideTo(4)">Yes, it's high (over 38)</a></div>
          <div><a ng-click="slideTo(4)">Yes, just a little (37-38)</a></div>
          <div><a ng-click="slideTo(5)">Not checked</a></div>
          <div><a ng-click="slideTo(6)">I have not temperature</a></div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <h2>3. Which part of body you have pain in?</h2>
          <div><a ng-click="slideTo(3)">Head</a></div>
          <div><a ng-click="slideTo(3)">Limbs</a></div>
          <div><a ng-click="slideTo(3)">Сhest</a></div>
          <div><a ng-click="slideTo(3)">Stomach</a></div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <h2>4. What describes your pain better?</h2>
          <div><a ng-click="go_clinics()">Strong pain</a></div>
          <div><a ng-click="go_clinics()">Pain for more than 24 hrs.</a></div>
          <div><a ng-click="go_plantato()">Mild discomfort, let's call superhero</a></div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <h2>5. Do you have others symptoms?</h2>
          <div><a ng-click="go_clinics()">No</a></div>
          <div><a ng-click="go_clinics()">Aches</a></div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <h2>6. Do you have ache?</h2>
          <div><a ng-click="go_clinics()">Yes</a></div>
          <div><a ng-click="go_clinics()">No, but I've physical discomfort</a></div>
          <div><a ng-click="go_plantato()">I have just bad mood</a></div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box">
          <h2>7. What type of malaise?</h2>
          <div><a ng-click="go_clinics()">I've physical discomfort</a></div>
          <div><a ng-click="go_plantato()">I have just bad mood</a></div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
