<ion-view view-title="Quiz">
  <ion-content class="padding">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide>
        <div class="box blue">
          <h2>Some text?</h2>
          <ion-radio ng-model="questions.question_1.answer" ng-value="'A'">Choose A</ion-radio>
          <ion-radio ng-model="questions.question_1.answer" ng-value="'B'">Choose B</ion-radio>
          <ion-radio ng-model="questions.question_1.answer" ng-value="'C'">Choose C</ion-radio>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box yellow">
          <h2>Some text?</h2>
          <ion-radio ng-model="questions.question_2.answer" ng-value="'A'">Choose A</ion-radio>
          <ion-radio ng-model="questions.question_2.answer" ng-value="'B'">Choose B</ion-radio>
          <ion-radio ng-model="questions.question_2.answer" ng-value="'C'">Choose C</ion-radio>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="box pink">
          <h2>Some text?</h2>
          <ion-radio ng-model="questions.question_2.answer" ng-value="'A'">Choose A</ion-radio>
          <ion-radio ng-model="questions.question_2.answer" ng-value="'B'">Choose B</ion-radio>
          <ion-radio ng-model="questions.question_2.answer" ng-value="'C'">Choose C</ion-radio>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>
