/* Empty. Add your own CSS if you like */

.emergency-action {
  width: 100%;
}

.emergency-action a {
  width: 100%;
}
.emergency-action a span{
  display: inline-block;
  padding: 3px 0 0 10px;
}

.plantago_hero_img {
  width: 100%;
  padding-top: 50px;
}

.slider-slide {
  height: 400px;
}