/* Empty. Add your own CSS if you like */

/* blue: #30DBB5 */
/* orange: #FCB21D */
/* red: #F64D4D */
/* grey: #4C4C4C */
/* grey border: #f2f2f2 */

.tabs {
  height: 70px;
}

.button {
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.bar.bar-stable {
  background-color: #30DBB5;
}

.reset-top-bottom-p {
  padding-top: 0;
  padding-bottom: 0;
}

.reset-p {
  padding: 0;
}

.emergency-action {
  width: 100%;
  padding: 10px 0;
}

.emergency-action a.button-assertive {
  width: 70%;
  margin: 0 15%;
  border-radius: 10px;
  background-color: #F64D4D;
  text-transform: uppercase;
  font-weight: bold;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.emergency-action a span{
  display: inline-block;
  padding: 3px 0 0 10px;
}

/* quiz */

.quiz-list {
  background-color: #f2f2f2;
}

.quiz-list .quiz-list-header {
  text-align: center;
  background: #30DBB5;
  color: #ffffff;
  padding: 20px 20%;
  font-size: 20px;
  line-height: 30px;
  font-weight: bold;
}

.quiz-list .quiz-list-header i {
  display: block;
  font-size: 50px;
  padding-bottom: 10px;
}

.quiz-list .quiz-list-answer {
  margin-top: 2px;
  background: #ffffff;
  padding: 15px;
  color: #4C4C4C;
  font-size: 16px;
}

.quiz-list .quiz-list-answer.active-answer {
  background-color: #FCB21D;
  color: #ffffff;
}

.quiz-list .quiz-list-answer .quiz-answer-number {
  display: inline-block;
  border: 2px solid #30DBB5;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  padding: 6px;
  text-align: center;
  margin-right: 15px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.quiz-list .quiz-list-answer.active-answer .quiz-answer-number  {
  border: 2px solid #ffffff;
}

/* clinics-content */

.clinics-content {
  background-color: #f2f2f2;
}

.clinics-content .call-physician {
  padding: 15px;
  border-bottom: 1px solid #979797;
}

.clinics-content .call-physician .button-energized {
  background-color: #FCB21D;
  color: #ffffff;
  width: 100%;
  padding: 20px 0 0px 0;
  min-height: 30px
}

.clinics-content .call-physician .button-energized .physician-image {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.clinics-content .call-physician .button-energized .physician-image img{
  border-radius: 50%;
  width: 85px;
  height: 85px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.clinics-content .call-physician .button-energized .physician-info {
  text-align: left;
  padding-top: 7px;
}

.clinics-content .call-physician .button-energized .physician-info .physician-name {
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
}
.clinics-content .call-physician .button-energized .physician-info .physician-profesion {
  line-height: 14px;
}
.clinics-content .call-physician .button-energized .physician-info .physician-profesion span {
  font-size: 14px;
  padding-bottom: 8px;
  border-bottom: 2px solid #ffffff;
}
.clinics-content .call-physician .button-energized .physician-info .physician-phone {
  padding-top: 7px;
}

.clinics-content .clinics-content-title{
  background-color: #30DBB5;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  padding: 15px 0 10px 0;
  font-weight: bold;
  border-bottom: 1px solid #979797;
}
.clinics-content .clinics-content-title span {
  text-transform: uppercase;
  margin-left: -30px;
}

.clinics-content .clinics-content-title a {
  float: left;
  color: #ffffff;
  padding-left: 10px;
}

.clinics-list {
  padding: 20px 10px;
}

.clinics-list .no-clinics {
  color: #30DBB5;
  text-align: center;
  padding: 20px 10px;
  font-size: 22px;
  font-weight: bold;
}
.clinics-list .item-clinic {
  border: 2px solid #30DBB5;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.clinics-list .item-clinic .item-clinic-img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
  border: 2px solid #30DBB5;
  overflow: hidden;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.clinics-list .item-clinic .item-clinic-img img{
  width: 100%;
}
.clinics-list .item-clinic .clinic-name {
  font-size: 20px;
  padding-top: 15px;
  padding-left: 5px;
  font-weight: bold;
}
.clinics-list .item-clinic .clinic-address {
  padding: 5px 10px 0 10px;
}

.clinics-list .item-clinic .clinic-address i {
  color :#F64D4D;
  font-size: 22px;
}

.clinics-list .item-clinic .clinic-btn {
  display: block;
  text-decoration: none;
  border-top: 2px solid #30DBB5;
  color: #FCB21D;
  text-align: center;
  font-weight: bold;
  padding: 10px 0 ;
  margin-top: 10px;
}

.clinics-list .item-clinic .clinic-telephone-btn {
  border-right: 2px solid #30DBB5;
}

.hero-content .hero-content-title {
  background-color: #30DBB5;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  padding: 15px 0 10px 0;
  font-weight: bold;
  border-bottom: 1px solid #979797;
}
.hero-content .hero-content-title span {
  text-transform: uppercase;
  margin-left: -30px;
}

.hero-content .hero-content-title a {
  float: left;
  color: #ffffff;
  padding-left: 10px;
}

.hero-content .plantago-hero-img {
  width: 100%;
}

/* clinic view */

.clinic-content {
  background-color: #f2f2f2;
}

.clinic-content .clinic-content-title {
  background-color: #30DBB5;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  padding: 15px 0 10px 0;
  font-weight: bold;
  border-bottom: 1px solid #979797;
}
.clinic-content .clinic-content-title span {
  text-transform: uppercase;
  margin-left: -30px;
}

.clinic-content .clinic-content-title a {
  float: left;
  color: #ffffff;
  padding-left: 10px;
}

.clinic-content .clinic-content-footer {
  height: 70px;
  background: #ffffff;
  padding: 10px 0;
}

.clinic-content .clinic-content-footer .clinic-content-address span {
  display: inline-block;
  width: 85%;
}

.clinic-content .clinic-content-footer .clinic-content-address i {
  display: inline-block;
  width: 10%;
  font-size: 28px;
  color: #30DBB5;
  position: relative;
  top: -7px;
  left: 10px;
}

.clinic-content .clinic-content-footer .clinic-content-icon {
  text-align: right;
  font-size: 22px;
  color: #30DBB5;
  padding: 8px 5px 0 0;
}



/* location-modal */


.location-modal .bar-header {
  background-color: #30DBB5;
  color: #ffffff;
  height: 50px !important;
}

.location-modal .bar-header .location-modal-close {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-top: 12px !important;
  padding-left: 5px;
}

.location-modal .bar-header .title {
  color: #ffffff;
  margin-top: 5px !important;
}

.location-modal .current_location_address {
  border: 2px solid #30DBB5;
  border-radius: 5px;
  background: #ffffff;
  margin-bottom: 20px;
  padding: 15px 20px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.location-modal .current-location {
  font-size: 20px;
  font-weight: bold;
  color: #4C4C4C;
  padding-bottom: 10px;
}

.location-modal .current-location i {
  color: #F64D4D;
  font-size: 22px;
  margin-right: 10px;
}

.location-modal .location-modal-address {
  font-size: 16px;
  line-height: 22px;
}


/* clinic-details-modal */
.clinic-details-modal {
  background-color: #f2f2f2;
}

.clinic-details-modal .has-header,
.clinic-details-modal .bar-subheader {
  top: 50px !important;
}

.clinic-details-modal .bar-header {
  background-color: #30DBB5;
  color: #ffffff;
  height: 50px !important;
}

.clinic-details-modal .bar-header .clinic-details-close {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-top: 12px !important;
  padding-left: 5px;
}

.clinic-details-modal .bar-header .title {
  color: #ffffff;
  margin-top: 5px !important;
}
.clinic-details-modal .clinic-details-photo img {
  width: 100%;
}

.clinic-details-modal .clinic-details-name {
  background: #ffffff;
  padding: 20px 30px;
}

.clinic-details-modal .clinic-details-tabs {
  padding: 10px;
  text-align: center;
}

.clinic-details-modal .clinic-details-tabs .tab-item-detail,
.clinic-details-modal .clinic-details-tabs .tab-item-contact {
  display: inline-block;
  width: 50%;
  border: 1px solid #FCB21D;
  margin: 0;
  color: #FCB21D;
  font-weight: bold;
}
.clinic-details-modal .clinic-details-tabs .tab-item-detail {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.clinic-details-modal .clinic-details-tabs .tab-item-contact {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.clinic-details-modal .clinic-details-tabs .tab-item-detail.item-detail-active,
.clinic-details-modal .clinic-details-tabs .tab-item-contact.item-detail-active {
  background: #FCB21D;
  color: #ffffff;
}

.clinic-details-modal .clinic-details-description {
  padding: 10px;
}

.clinic-details-modal  .clinic-details-contacts .col-20 {
  text-align: center;
  font-size: 26px;
  color: #30DBB5;
}